<h3>Create New Entry</h3>

<form action="/entries/new" method="post">
  <label>How's your physical state?</label>
  <input type="text" name="content_physical">
  <br><br>
  <label>How's your emotional state?</label>
  <input type="text" name="content_emotional">
  <br><br>
  <label>How's your intellectual state?</label>
  <input type="text" name="content_intellectual">
  <br><br>
  <input type="submit" value="Create Entry">
</form>
