
<h3>Welcome to your dashboard, <%= current_user.username %>. What would you like to do?</h3>
<a href="/entries">View Existing Entries</a>
<br><br>

<a href="/entries/new">Create New Entry</a><br><br>

<form action="/logout" method="post">
  <input type="submit" value="Log Out">
</form>
